.jp-conwayWidget {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.jp-testCanvas {
    display: flex;
    overflow-x: none;
    overflow-y: none;
}

.jp-testCanvas {
    margin: auto;
}
